/* Styling for the Delete Employee Form */
.delete-book-container {
  min-width: 400px;
  margin: 20px auto;
  padding: 20px;
  position: absolute;
  top: 60px;
  width: 20vw;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 8px 8px 5px 8px #561414;  }
  
  .delete-book-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #e70b0b;
  }
  
  .delete-book-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .delete-book-container input[type="text"] {
    width: calc(100% - 24px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .delete-book-container button {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #397039;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-book-container button:hover {
    background-color: #e70b0b;
  }
  
  .delete-book-container p {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
  }
  